@font-face {
    font-family: "name";
    src: url("/wp-content/themes/base/css/font/AkzidenzGroteskPro-BoldCnIt.eot");
    src: local("Akzidenz-Grotesk Pro BoldCndIt"), local("/wp-content/themes/base/css/font/AkzidenzGroteskPro-BoldCnIt"), url("/wp-content/themes/base/css/font/AkzidenzGroteskPro-BoldCnIt.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/base/css/font/AkzidenzGroteskPro-BoldCnIt.woff2") format("woff2"), url("/wp-content/themes/base/css/font/AkzidenzGroteskPro-BoldCnIt.woff") format("woff"), url("/wp-content/themes/base/css/font/AkzidenzGroteskPro-BoldCnIt.ttf") format("truetype");
    font-weight: bold;
    font-style: italic
}

a {
    cursor: pointer;
    text-decoration: none
}

html {
    margin-top: 0 !important
}

div#wpadminbar {
    display: none
}

.container {
    max-width: 1280px;
    margin: 0 auto
}